.modal {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: var(---tertiary-color);
}
.modal button{
    padding:0.5rem;
    width: 50px;
    border-radius: 50%;
    margin: 0.5rem;
    border:none;
   
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}