.main {
    width: 100px;
    height: 35px;
    align-self: center;
    padding: 0.4rem;
    margin-top: 1rem;
    cursor:pointer;
    background-color: var(---secondary-color);
    border: none;
    border-radius: 0.5rem;
    color: var(---quaternary-color);
    margin: 0.5rem;
}
.main:hover{
    background-color: var(---tertiary-color);
}
.danger{
    background-color: var(---primery-color);
    color: var(---quaternary-color);
    border-radius: 0.5rem;
    border:none;
    cursor: pointer;
}
.danger:hover{
    background-color: brown;
}
.call{
    background-color: white;
    color: var(---secondary-color);
    border-radius: 0.5rem;
    border:solid 1px var(---secondary-color);
    cursor: pointer;
}
.call:hover{
    color: var(---primery-color);
    background-color: var(---quaternary-color);
}
@media (max-width: 992px) {
    .hiddenBtn{
        display: none;
    }
}
@media (max-width: 520px) {
    .main{
        width: 80px;
        height: 30px;
        font-size: 0.6rem;
    }
} 